/* common styles 
------------------------- */
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.heighlited-part,
.view-button {
    padding: 18px 27px;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #1b1ff9, rgb(208, 0, 255));
    color: #ffffff;
    border-radius: 10px;
    border: none;
}

/* header part style  
----------------------------- */
.top-banner {
    background-color: #021722;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px 80px 50px 120px;
    border-radius: 20px;
    margin: auto;
    margin-top: 3%;
}

.header-half-width img {
    width: 110%;
}

.header-text {
    color: #ffffff;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 18px;
}

/* main part style
-------------------------- */
main {
    width: 84%;
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 23% 77%;
    border-radius: 20px;
}

.side-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #021722;
    border-radius: 10px;
    margin-right: 5%;
}

.single-side-bar {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-side-bar a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
}

#selected {
    background-color: #860DFD;
}

#selected a {
    color: #ffffff;
}

.article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.single-article img {
    width: 100%;
}

.single-article {
    box-shadow: 20px 20px 30px rgba(128, 128, 128, 0.245);
    border: 2px solid rgba(128, 128, 128, 0.245);
    border-radius: 20px;
    width: 100%;
}

.transfer-button {
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #1b1ff9, rgb(208, 0, 255));
    color: #ffffff;
    border: none;
    margin-top: 10px;
}

.article-text {
    margin-left: 6px;
    padding-bottom: 20px;
}

.article-text p {
    font-weight: 700;
}


.icon-text {
    margin-right: 40px;
    color: rgb(82, 80, 80);
}

.view-button-div {
    margin-top: 5%;
    text-align: center;
    visibility: hidden;
}


/* footer part style
-------------------------- */
footer {
    background-color: #021722;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
}

.footer-text {
    text-decoration: none;
    margin-right: 50px;
}

.display-footer {
    display: inline;
}

.hidden-footer {
    text-decoration: none;
    margin-right: 50px;
    display: none;
}

#hr-line {
    width: 80%;
}

footer h2,
a {
    color: #ffffffa7;
}

.footer-icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.footer-icon-section h3 {
    color: #ffffffa7;
}

.footer-icon-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 15px;

}

.footer-icon {
    font-size: 2.5em;
    color: #ffffffa7;
    margin-right: 30px;
}

/* animation part
------------------------------ */
.top-banner:hover {
    box-shadow: 40px 40px 40px gray;
    transition: box-shadow 1s linear;
}

.header-text:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in;
}

.header-half-width img:hover {
    transform: scale(1.2);
    transition: transform 1s ease-in;
}

.heighlited-part:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in;
}

/* responsive for tab 
------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* header part style  --------*/
    .top-banner {
        width: 65%;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 14px;
    }

    .header-half-width img {
        width: 140%;
    }

    /* main part style--------- */
    main {
        display: flex;
        flex-direction: column;
    }

    .side-bar-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: auto;
        height: 0;
        position: relative;
        margin-bottom: 20%;
    }

    .single-side-bar {
        border: 2px solid rgba(128, 128, 128, 0.245);
        margin-right: 15px;
        width: 180px;
    }

    .Upcoming-button {
        width: 220px;
    }

    .article-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    #tab-hidden-article {
        display: none;
    }

    .view-button-div {
        visibility: visible;
    }

    /* footer part style -------- */
    .display-footer {
        display: none;
    }

    .hidden-footer {
        display: inline-block;
        margin-top: 20px;
    }
}

/* responsive for mobile
------------------------------ */
@media screen and (max-width: 767px) {

    /* header part style -------*/
    .top-banner {
        display: flex;
        flex-direction: column;
        padding: 10px 40px 25px 60px;
        width: 65%;
        margin-top: 20px;
    }

    .header-half-width {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 22px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    .heighlited-part {
        padding: 18px 27px;
    }

    /* main part style-------*/
    main {
        width: 87%;
        /* display: grid;
        grid-template-columns: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    }

    .side-bar-section {
        height: 0;
        margin: 30% 0 35%;
    }


    .single-side-bar {
        padding: 15px 15px;
        width: 200px;
        border: 2px solid;
        border: 2px solid rgba(128, 128, 128, 0.245);
    }

    .Upcoming-button {
        width: 240px;
    }

    .article-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* footer part style ------- */
    footer {
        height: auto;
    }

    .footer-text {
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
        margin-bottom: 20%;
        font-size: 1.5em;
    }
}